<style>
.vertical_line{height:230px; width:5px;background:#000;}
</style>

<div class="row" ng-controller = "View2Ctrl as v2">
    <div class="row">
      <div class="col-xs-12">
        <h2 style="text-align: center">Elevator Simulator</h2>
      </div>
    </div>

    <!--Show Current Elevator Floor (This should eventually get removed!)-->
    <div class="row">
      <div class="col-xs-12">
        <h4 style="text-align: center">E1: {{ v2.getE1Floor() }}</h4>
        <h4 style="text-align: center">E2: {{ v2.getE2Floor() }}</h4>
      </div>
    </div>

    <!--Start of first row-->
    <!--Putting headers here and what should go on-->
    <div class="row">
      <!--First Elevator-->
      <div class="col-xs-3 ">
        <div class="row">
          <h3 style="text-align: center"> First elevator Action: </h3>
        </div>
        <div class="row">
          <h3 style="text-align: center"> {{ e1Action}} </h3>
        </div>
      </div>
      <!--Second Elevator-->
      <div class="col-xs-3 col-xs-offset-1">
        <div class="row">
          <h3 style="text-align: center"> Second elevator Action: </h3>
        </div>
        <div class="row">
          <h3 style="text-align: center"> {{ e2Action }} </h3>
        </div>
      </div>
    </div>
    <p style="border-style: solid"></p>
    <!--Floors-->
    <!--Fourth Floor-->
    <div class="row">
      <div class="col-xs-12">
        <!--Elevators-->
        <div class="col-xs-7">
            <div ng-show="v2.isE1AtFloor(4)" class="col-xs-6">
              <div class="row">
                <div class="col-xs-7">
                  <img src="elevator.jpg" alt="elevator" style="width:200px;height:228px;">
                </div>
                <div class="col-xs-4 col-xs-offset-1">
                  <div class="row">
                    <div class="col-xs-6">
                      <button type="submit" class="btn btn-primary">4</button>                  
                    </div>
                    <div class="col-xs-5 col-xs-offset-1">
                      <button type="submit" class="btn btn-primary">3</button>                 
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-xs-6">
                      <button type="submit" class="btn btn-primary">2</button>                  
                    </div>
                    <div class="col-xs-5 col-xs-offset-1">
                      <button type="submit" class="btn btn-primary">1</button>                 
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div ng-show="v2.isE2AtFloor(4)" class="col-xs-6">
              <div class="row">
                <div class="col-xs-7">
                  <img src="elevator.jpg" alt="elevator" style="width:200px;height:228px;">
                </div>
                <div class="col-xs-4 col-xs-offset-1">
                  <div class="row">
                    <div class="col-xs-6">
                      <button type="submit" class="btn btn-primary">4</button>                  
                    </div>
                    <div class="col-xs-5 col-xs-offset-1">
                      <button type="submit" class="btn btn-primary">3</button>                 
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-xs-6">
                      <button type="submit" class="btn btn-primary">2</button>                  
                    </div>
                    <div class="col-xs-5 col-xs-offset-1">
                      <button type="submit" class="btn btn-primary">1</button>                 
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col-xs-1">
          <div class="vertical_line"></div>
          <br>
        </div>
        <!--Floor Buttons-->
        <div class="col-xs-3">
          <button type="submit" class="btn btn-primary" ng-click="v2.answerCall(4, 1)">Up</button>
          <button type="submit" class="btn btn-info" ng-click="v2.answerCall(4, 0)">Down</button>
        </div>
      </div>
    </div>
    <p style="border-style: solid"></p>

    <!--Third Floor-->
    <div class="row">
      <div class="col-xs-12">
        <!--Elevators-->
        <div class="col-xs-7">
            <div ng-show="v2.isE1AtFloor(3)" class="col-xs-6">
              <div class="row">
                <div class="col-xs-7">
                  <img src="elevator.jpg" alt="elevator" style="width:200px;height:228px;">
                </div>
                <div class="col-xs-4 col-xs-offset-1">
                  <div class="row">
                    <div class="col-xs-6">
                      <button type="submit" class="btn btn-primary">4</button>                  
                    </div>
                    <div class="col-xs-5 col-xs-offset-1">
                      <button type="submit" class="btn btn-primary">3</button>                 
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-xs-6">
                      <button type="submit" class="btn btn-primary">2</button>                  
                    </div>
                    <div class="col-xs-5 col-xs-offset-1">
                      <button type="submit" class="btn btn-primary">1</button>                 
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div ng-show="v2.isE2AtFloor(3)" class="col-xs-6">
              <div class="row">
                <div class="col-xs-7">
                  <img src="elevator.jpg" alt="elevator" style="width:200px;height:228px;">
                </div>
                <div class="col-xs-4 col-xs-offset-1">
                  <div class="row">
                    <div class="col-xs-6">
                      <button type="submit" class="btn btn-primary">4</button>                  
                    </div>
                    <div class="col-xs-5 col-xs-offset-1">
                      <button type="submit" class="btn btn-primary">3</button>                 
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-xs-6">
                      <button type="submit" class="btn btn-primary">2</button>                  
                    </div>
                    <div class="col-xs-5 col-xs-offset-1">
                      <button type="submit" class="btn btn-primary">1</button>                 
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col-xs-1">
          <div class="vertical_line"></div>
          <br>
        </div>
        <!--Floor Buttons-->
        <div class="col-xs-3">
          <button type="submit" class="btn btn-primary" ng-click="v2.answerCall(3, 1)">Up</button>
          <button type="submit" class="btn btn-info" ng-click="v2.answerCall(3, 0)">Down</button>
        </div>
      </div>
    </div>
    <p style="border-style: solid"></p>
    <!--Second Floor-->
    <div class="row">
      <div class="col-xs-12">
        <!--Elevators-->
        <div class="col-xs-7">
            <div ng-show="v2.isE1AtFloor(2)" class="col-xs-6">
              <div class="row">
                <div class="col-xs-7">
                  <img src="elevator.jpg" alt="elevator" style="width:200px;height:228px;">
                </div>
                <div class="col-xs-4 col-xs-offset-1">
                  <div class="row">
                    <div class="col-xs-6">
                      <button type="submit" class="btn btn-primary">4</button>                  
                    </div>
                    <div class="col-xs-5 col-xs-offset-1">
                      <button type="submit" class="btn btn-primary">3</button>                 
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-xs-6">
                      <button type="submit" class="btn btn-primary">2</button>                  
                    </div>
                    <div class="col-xs-5 col-xs-offset-1">
                      <button type="submit" class="btn btn-primary">1</button>                 
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div ng-show="v2.isE2AtFloor(2)" class="col-xs-6">
              <div class="row">
                <div class="col-xs-7">
                  <img src="elevator.jpg" alt="elevator" style="width:200px;height:228px;">
                </div>
                <div class="col-xs-4 col-xs-offset-1">
                  <div class="row">
                    <div class="col-xs-6">
                      <button type="submit" class="btn btn-primary">4</button>                  
                    </div>
                    <div class="col-xs-5 col-xs-offset-1">
                      <button type="submit" class="btn btn-primary">3</button>                 
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-xs-6">
                      <button type="submit" class="btn btn-primary">2</button>                  
                    </div>
                    <div class="col-xs-5 col-xs-offset-1">
                      <button type="submit" class="btn btn-primary">1</button>                 
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col-xs-1">
          <div class="vertical_line"></div>
          <br>
        </div>
        <!--Floor Buttons-->
        <div class="col-xs-3">
          <button type="submit" class="btn btn-primary" ng-click="v2.answerCall(2, 1)">Up</button>
          <button type="submit" class="btn btn-info" ng-click="v2.answerCall(2, 0)">Down</button>
        </div>
      </div>
    </div>
    <p style="border-style: solid"></p>
    <!--First Floor-->
    <div class="row">
      <div class="col-xs-12">
        <!--Elevators-->
        <div class="col-xs-7">
            <div ng-show="v2.isE1AtFloor(1)" class="col-xs-6">
              <div class="row">
                <div class="col-xs-7">
                  <img src="elevator.jpg" alt="elevator" style="width:200px;height:228px;">
                </div>
                <div class="col-xs-4 col-xs-offset-1">
                  <div class="row">
                    <div class="col-xs-6">
                      <button type="submit" class="btn btn-primary">4</button>                  
                    </div>
                    <div class="col-xs-5 col-xs-offset-1">
                      <button type="submit" class="btn btn-primary">3</button>                 
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-xs-6">
                      <button type="submit" class="btn btn-primary">2</button>                  
                    </div>
                    <div class="col-xs-5 col-xs-offset-1">
                      <button type="submit" class="btn btn-primary">1</button>                 
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div ng-show="v2.isE2AtFloor(1)" class="col-xs-6">
              <div class="row">
                <div class="col-xs-7">
                  <img src="elevator.jpg" alt="elevator" style="width:200px;height:228px;">
                </div>
                <div class="col-xs-4 col-xs-offset-1">
                  <div class="row">
                    <div class="col-xs-6">
                      <button type="submit" class="btn btn-primary">4</button>                  
                    </div>
                    <div class="col-xs-5 col-xs-offset-1">
                      <button type="submit" class="btn btn-primary">3</button>                 
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-xs-6">
                      <button type="submit" class="btn btn-primary">2</button>                  
                    </div>
                    <div class="col-xs-5 col-xs-offset-1">
                      <button type="submit" class="btn btn-primary">1</button>                 
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="col-xs-1">
          <div class="vertical_line"></div>
          <br>
        </div>
        <!--Floor Buttons-->
        <div class="col-xs-3">
          <button type="submit" class="btn btn-primary" ng-click="v2.answerCall(1, 1)">Up</button>
          <button type="submit" class="btn btn-info" ng-click="v2.answerCall(1, 0)">Down</button>
        </div>
      </div>
    </div>
    <p style="border-style: solid"></p>
</div>
