<style>
.vertical_line{height:230px; width:5px;background:#000;}
</style>

<div class="row" ng-controller = "View2Ctrl as v2">
    <div class="row">
      <div class="col-xs-12">
        <h2 style="text-align: center">Elevator Simulator</h2>
      </div>
    </div>

    <!--Start of first row-->
    <!--Putting headers here and what should go on-->
    <div class="row">
      <!--First Elevator-->
      <div class="col-xs-3 col-xs-offset-1">
        <div class="row">
          <h3 style="text-align: center"> Debug </h3>
        </div>
        <div class="row">
          <h4 style="text-align: center"> E1: f = {{ v2.getE1Floor() }}, d = {{ v2.getE1Direction() }}, q = {{ v2.getE1Queue() }} </h4>
          <h4 style="text-align: center"> E2: f = {{ v2.getE2Floor() }}, d = {{ v2.getE2Direction() }}, q = {{ v2.getE2Queue() }} </h4>
        </div>
      </div>
      <!--Second Elevator-->
      <div class="col-xs-3 col-xs-offset-4">
        <div class="row">
          <h3 style="text-align: center"> Statistics </h3>
        </div>
        <div class="row">
          <h4 style="text-align: center"> Total Passengers: {{ stats.totalPassengers }} </h4>
          <h4 style="text-align: center"> Average Wait Time per Passenger: {{ stats.averageWaitTime }} </h4>
        </div>
      </div>
    </div>


    <!--Start of first row-->
    <!--Putting headers here and what should go on-->
    <div class="row">
      <!--First Elevator-->
      <div class="col-xs-3 ">
        <div class="row">
          <h3 style="text-align: center"> Elevator 1: </h3>
        </div>
        <div class="row">
          <h3 style="text-align: center"> {{ e1Action}} </h3>
        </div>
      </div>
      <!--Second Elevator-->
      <div class="col-xs-3 col-xs-offset-1">
        <div class="row">
          <h3 style="text-align: center"> Elevator 2: </h3>
        </div>
        <div class="row">
          <h3 style="text-align: center"> {{ e2Action }} </h3>
        </div>
      </div>
    </div>
    <p style="border-style: solid"></p>
    <!--Floors-->
    <!--Fourth Floor-->
    <div class="row">
      <div class="col-xs-12">
        <!--Elevators-->
        <div class="col-xs-7">
            <div ng-show="v2.isE1AtFloor(4)" class="col-xs-6">
              <div class="row">
                <div class="col-xs-7">
                  <img src="elevator.JPG" alt="elevator" style="width:200px;height:228px;">
                </div>
                <div class="col-xs-4 col-xs-offset-1">
                  <div class="row">
                    <div class="col-xs-6">
                      <button type="submit" ng-click="setDestination(1, 4)" ng-class="e1b4">4</button>                  
                    </div>
                    <div class="col-xs-5 col-xs-offset-1">
                      <button type="submit" ng-click="setDestination(1, 3)" ng-class="e1b3">3</button>                 
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-xs-6">
                      <button type="submit" ng-click="setDestination(1, 2)" ng-class="e1b2">2</button>                  
                    </div>
                    <div class="col-xs-5 col-xs-offset-1">
                      <button type="submit" ng-click="setDestination(1, 1)" ng-class="e1b1">1</button>                 
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div ng-show="!v2.isE1AtFloor(4)" class="col-xs-6"></div>
            <div ng-show="v2.isE2AtFloor(4)" class="col-xs-6">
              <div class="row">
                <div class="col-xs-7">
                  <img src="elevator.JPG" alt="elevator" style="width:200px;height:228px;">
                </div>
                <div class="col-xs-4 col-xs-offset-1">
                  <div class="row">
                    <div class="col-xs-6">
                      <button type="submit" ng-click="setDestination(2, 4)" ng-class="e2b4">4</button>                  
                    </div>
                    <div class="col-xs-5 col-xs-offset-1">
                      <button type="submit" ng-click="setDestination(2, 3)" ng-class="e2b3">3</button>                 
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-xs-6">
                      <button type="submit" ng-click="setDestination(2, 2)" ng-class="e2b2">2</button>                  
                    </div>
                    <div class="col-xs-5 col-xs-offset-1">
                      <button type="submit" ng-click="setDestination(2, 1)" ng-class="e2b1">1</button>                 
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div ng-show="!v2.isE2AtFloor(4)" class="col-xs-6"></div>
        </div>
        <div class="col-xs-1">
          <div class="vertical_line"></div>
          <br>
        </div>
        <!--Floor Buttons-->
        <div class="col-xs-3">
          <!--<button type="submit" class="btn btn-primary" ng-click="v2.answerCall(4, 1)">Up</button>-->
          <button type="submit" ng-class="f4d" ng-click="v2.answerCall(4, -1)">Down</button>
          <h4 style="text-align: center">Passengers Waiting: {{ f4Passengers }}</h4>
        </div>
      </div>
    </div>
    <p style="border-style: solid"></p>

    <!--Third Floor-->
    <div class="row">
      <div class="col-xs-12">
        <!--Elevators-->
        <div class="col-xs-7">
            <div ng-show="v2.isE1AtFloor(3)" class="col-xs-6">
              <div class="row">
                <div class="col-xs-7">
                  <img src="elevator.JPG" alt="elevator" style="width:200px;height:228px;">
                </div>
                <div class="col-xs-4 col-xs-offset-1">
                  <div class="row">
                    <div class="col-xs-6">
                      <button type="submit" ng-click="setDestination(1, 4)" ng-class="e1b4">4</button>                  
                    </div>
                    <div class="col-xs-5 col-xs-offset-1">
                      <button type="submit" ng-click="setDestination(1, 3)" ng-class="e1b3">3</button>                 
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-xs-6">
                      <button type="submit" ng-click="setDestination(1, 2)" ng-class="e1b2">2</button>                  
                    </div>
                    <div class="col-xs-5 col-xs-offset-1">
                      <button type="submit" ng-click="setDestination(1, 1)" ng-class="e1b1">1</button>                 
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div ng-show="!v2.isE1AtFloor(3)" class="col-xs-6"></div>
            <div ng-show="v2.isE2AtFloor(3)" class="col-xs-6">
              <div class="row">
                <div class="col-xs-7">
                  <img src="elevator.JPG" alt="elevator" style="width:200px;height:228px;">
                </div>
                <div class="col-xs-4 col-xs-offset-1">
                  <div class="row">
                    <div class="col-xs-6">
                      <button type="submit" ng-click="setDestination(2, 4)" ng-class="e2b4">4</button>                  
                    </div>
                    <div class="col-xs-5 col-xs-offset-1">
                      <button type="submit" ng-click="setDestination(2, 3)" ng-class="e2b3">3</button>                 
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-xs-6">
                      <button type="submit" ng-click="setDestination(2, 2)" ng-class="e2b2">2</button>                  
                    </div>
                    <div class="col-xs-5 col-xs-offset-1">
                      <button type="submit" ng-click="setDestination(2, 1)" ng-class="e2b1">1</button>                 
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div ng-show="!v2.isE2AtFloor(3)" class="col-xs-6"></div>
        </div>
        <div class="col-xs-1">
          <div class="vertical_line"></div>
          <br>
        </div>
        <!--Floor Buttons-->
        <div class="col-xs-3">
          <button type="submit" ng-class="f3u" ng-click="v2.answerCall(3, 1)">Up</button>
          <button type="submit" ng-class="f3d" ng-click="v2.answerCall(3, -1)">Down</button>
          <h4 style="text-align: center">Passengers Waiting (Up): {{ f3PassengersUp }}</h4>
          <h4 style="text-align: center">Passengers Waiting (Down): {{ f3PassengersDown }}</h4>
        </div>
      </div>
    </div>
    <p style="border-style: solid"></p>
    <!--Second Floor-->
    <div class="row">
      <div class="col-xs-12">
        <!--Elevators-->
        <div class="col-xs-7">
            <div ng-show="v2.isE1AtFloor(2)" class="col-xs-6">
              <div class="row">
                <div class="col-xs-7">
                  <img src="elevator.JPG" alt="elevator" style="width:200px;height:228px;">
                </div>
                <div class="col-xs-4 col-xs-offset-1">
                  <div class="row">
                    <div class="col-xs-6">
                      <button type="submit" ng-click="setDestination(1, 4)" ng-class="e1b4">4</button>                  
                    </div>
                    <div class="col-xs-5 col-xs-offset-1">
                      <button type="submit" ng-click="setDestination(1, 3)" ng-class="e1b3">3</button>                 
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-xs-6">
                      <button type="submit" ng-click="setDestination(1, 2)" ng-class="e1b2">2</button>                  
                    </div>
                    <div class="col-xs-5 col-xs-offset-1">
                      <button type="submit" ng-click="setDestination(1, 1)" ng-class="e1b1">1</button>                 
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div ng-show="!v2.isE1AtFloor(2)" class="col-xs-6"></div>
            <div ng-show="v2.isE2AtFloor(2)" class="col-xs-6">
              <div class="row">
                <div class="col-xs-7">
                  <img src="elevator.JPG" alt="elevator" style="width:200px;height:228px;">
                </div>
                <div class="col-xs-4 col-xs-offset-1">
                  <div class="row">
                    <div class="col-xs-6">
                      <button type="submit" ng-click="setDestination(2, 4)" ng-class="e2b4">4</button>                  
                    </div>
                    <div class="col-xs-5 col-xs-offset-1">
                      <button type="submit" ng-click="setDestination(2, 3)" ng-class="e2b3">3</button>                 
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-xs-6">
                      <button type="submit" ng-click="setDestination(2, 2)" ng-class="e2b2">2</button>                  
                    </div>
                    <div class="col-xs-5 col-xs-offset-1">
                      <button type="submit" ng-click="setDestination(2, 1)" ng-class="e2b1">1</button>                 
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div ng-show="!v2.isE2AtFloor(2)" class="col-xs-6"></div>
        </div>
        <div class="col-xs-1">
          <div class="vertical_line"></div>
          <br>
        </div>
        <!--Floor Buttons-->
        <div class="col-xs-3">
          <button type="submit" ng-class="f2u" ng-click="v2.answerCall(2, 1)">Up</button>
          <button type="submit" ng-class="f2d" ng-click="v2.answerCall(2, -1)">Down</button>
           <h4 style="text-align: center">Passengers Waiting (Up): {{ f2PassengersUp }}</h4>
           <h4 style="text-align: center">Passengers Waiting (Down): {{ f2PassengersDown }}</h4>
        </div>
      </div>
    </div>
    <p style="border-style: solid"></p>
    <!--First Floor-->
    <div class="row">
      <div class="col-xs-12">
        <!--Elevators-->
        <div class="col-xs-7">
            <div ng-show="v2.isE1AtFloor(1)" class="col-xs-6">
              <div class="row">
                <div class="col-xs-7">
                  <img src="elevator.JPG" alt="elevator" style="width:200px;height:228px;">
                </div>
                <div class="col-xs-4 col-xs-offset-1">
                  <div class="row">
                    <div class="col-xs-6">
                      <button type="submit" ng-click="setDestination(1, 4)" ng-class="e1b4">4</button>                  
                    </div>
                    <div class="col-xs-5 col-xs-offset-1">
                      <button type="submit" ng-click="setDestination(1, 3)" ng-class="e1b3">3</button>                 
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-xs-6">
                      <button type="submit" ng-click="setDestination(1, 2)" ng-class="e1b2">2</button>                  
                    </div>
                    <div class="col-xs-5 col-xs-offset-1">
                      <button type="submit" ng-click="setDestination(1, 1)" ng-class="e1b1">1</button>                 
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div ng-show="!v2.isE1AtFloor(1)" class="col-xs-6"></div>
            <div ng-show="v2.isE2AtFloor(1)" class="col-xs-6">
              <div class="row">
                <div class="col-xs-7">
                  <img src="elevator.JPG" alt="elevator" style="width:200px;height:228px;">
                </div>
                <div class="col-xs-4 col-xs-offset-1">
                  <div class="row">
                    <div class="col-xs-6">
                      <button type="submit" ng-click="setDestination(2, 4)" ng-class="e2b4">4</button>                  
                    </div>
                    <div class="col-xs-5 col-xs-offset-1">
                      <button type="submit" ng-click="setDestination(2, 3)" ng-class="e2b3">3</button>                 
                    </div>
                  </div>
                  <br>
                  <div class="row">
                    <div class="col-xs-6">
                      <button type="submit" ng-click="setDestination(2, 2)" ng-class="e2b2">2</button>                  
                    </div>
                    <div class="col-xs-5 col-xs-offset-1">
                      <button type="submit" ng-click="setDestination(2, 1)" ng-class="e2b1">1</button>                 
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div ng-show="!v2.isE2AtFloor(1)" class="col-xs-6"></div>
        </div>
        <div class="col-xs-1">
          <div class="vertical_line"></div>
          <br>
        </div>
        <!--Floor Buttons-->
        <div class="col-xs-3">
          <button type="submit" ng-class="f1u" ng-click="v2.answerCall(1, 1)">Up</button>
          <!--<button type="submit" class="btn btn-info" ng-click="v2.answerCall(1, 0)">Down</button>-->
          <h4 style="text-align: center">Passengers Waiting: {{ f1Passengers }}</h4>
        </div>
      </div>
    </div>
    <p style="border-style: solid"></p>
</div>
